[Unit]
Description=Steam market item demand charts

[Service]
ExecStart=/home/ec2-user/steam-market-item-demand-charts/src/server.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/steam-market-item-demand-charts/src

[Install]
WantedBy=multi-user.target
